.head {
    background-image: url(images/donation13.jpg);
    height: 620px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align:center;
   margin: auto;
   padding: 20px;

}

.button{
    
  color: rgb(27, 7, 7);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px solid #2df4b2;
  background-image: linear-gradient(red,tomato);


}

body{font-family: 'Castoro Titling',
cursive;}


#hFirst{
    font-size: 45px;
    color: whitesmoke;
}
#hThird{
    color: aliceblue;
    font-size: 20px;
}
body{
    background-color: white;
    
}
.money{
    display: flex;
    
    
}
   
#min{
    box-shadow: 10px 10px 50px rgb(242, 210, 210);
    border-radius: 2px solid;
    margin-left: 30px;
    width: 150px;
    text-align: center;
    color: gray;
    height: 100px;
}
#exc{
    box-shadow: 10px 10px 50px rgb(226, 11, 51);
    border-radius: 2px solid;
    margin-left: 30px;
    width: 150px;
    
    color: rgb(223, 26, 26);
    height: 100px;

}
.midd{
    text-align: center;
}
   

