.head {
    background-image: url(images/donation13.jpg);
    height: 620px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align:center;
   margin: auto;
   padding: 20px;

}

.button{
    
  color: rgb(243, 240, 240);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  border-radius:4px 4px;
  background-image: linear-gradient(red,tomato);
  margin-top: 30px;


}

body{font-family: 'Castoro Titling',
cursive;}


#hFirst{
    font-size: 45px;
    color: whitesmoke;
}
#hThird{
    color: aliceblue;
    font-size: 20px;
}
body{
    background-color: white;
    
}
.money{
    display: flex;
    text-align: right;
    margin-left: 10%;
    
    
    
}
   
#min{
    box-shadow: 10px 10px 50px rgb(238, 231, 231);
    border-radius: 1px solid;
    margin-left:5%;
    width: 150px;
    text-align: center;
    color: rgb(21, 10, 10);
    height: 100px;
    margin-right: 5%;
    

}
.exc{
    background-color: rgb(183, 199, 133);
    box-shadow: 10px 10px 50px rgb(238, 231, 231);
    border-radius: 1px solid;
    margin-left:5%;
    width: 150px;
    text-align: center;
    color:whitesmoke;
    height: 100px;
    margin-right: 5%;
}
.midd{
    text-align: center;
}
#align{
    text-align: center;
}
.def{
    text-align: center;
    color: blueviolet;
}
.blood{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px rgb(207, 161, 151);
    padding-left: 40px;
    border-radius: 10px;
    height: 80%;
    background-color: rgb(202, 196, 178);
    text-align: center;
    margin-top: 50px;
    
}
.clothes{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px rgb(111, 204, 212);
    padding-left: 40px;
    border-radius: 10px;
    height: 80%;
    background-color: rgb(208, 213, 215);
    text-align: center;
    background-color: bisque;
    margin-top: 50px;
}
.clothes img{
    width: 150px;
}
.foods{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px rgb(163, 59, 156);
    padding-left: 40px;
    border-radius: 10px;
    height: 80%;
    background-color: rgb(208, 213, 215);
    text-align: center;
    background-color: cornsilk;
    margin-top: 50px;
}
.foods img{
    width: 150px;
}
.endgame{
    display: flex;
}